mixin userCard (id, name)
  .card(style="width: 18rem;")
    .card-body
      .card-title
        p=id
      .card-text
        p=name
      a.btn.btn-primary.stretched-link(href=`/user/${id}`)
        | Visitar usuário
